<h1>Portfolio Items</h1>

<% @portfolio_items.each do |portfolio_item| %>
	<h3><%= portfolio_item.title %></p></h3>
	<b><p><%= portfolio_item.subtitle %></p></b>
	<p><%= portfolio_item.body %></p>
	<p><%= image_tag portfolio_item.thumb_image %></p>
<% end %>